<!doctype html>
<title>WebGPU CTS: {{test_query}}</title>
<meta charset=utf-8>
<link rel=help href='https://gpuweb.github.io/gpuweb/'>

<dl>
  <dt>Test query
  <dd><code>{{test_query}}</code>
  <dt>File path
  <dd><code>{{file_path}}</code>
</dl>

<script src=/resources/testharness.js></script>
<script src=/resources/testharnessreport.js></script>
<script type=module>
    import { main } from '/webgpu/common/runtime/wpt.js';
    main({
        testQueriesOverride: [`{{test_query}}`],
    });
</script>
